<style media="screen">
#menu{
  font-family: montserrat !important;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
}

.logoImg{
width:100%;
  object-fit: contain;
}

</style>

<style media="screen">
  /* ... Vos autres styles CSS ... */

  .logo-full-width img {
    width: 100% !important;
  }
</style>

<div id="root">
  <div id="nav" class="nav-container d-flex">
    <div class="nav-content d-flex">
      <!-- Logo Start -->
      <div class="logo position-relative">
        <a href="{{path('home')}}">
          <!-- Logo can be added directly -->
            <div class="mb-2" style="margin-right:5px;">
           <img src="{{ asset('assets/img/logo/logoFinal.svg') }}" alt="logo"  class="logoImg" />

          <!-- Or added via css to provide different ones for different color themes -->
        </div>
        </a>
      </div>
      <!-- Logo End -->

      <!-- User Menu Start -->
      {% if app.user %}
      <div class="user-container d-flex">
        <a href="#" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="profile" alt="profile" src="../assets/img/profile/profile-9.webp" />
          <div class="name">{{app.user.pseudo}}</div>
        </a>
        <div class="dropdown-menu dropdown-menu-end user-menu wide">
          <div class="row mb-3 ms-0 me-0">
            <div class="col-12 ps-1 mb-2">
              <div class="text-extra-small text-primary">ACCOUNT</div>
            </div>
            <div class="col-6 ps-1 pe-1">
              <ul class="list-unstyled">
                <li>
                  <a href="#">User Info</a>
                </li>
              </div>

            </div>

            <div class="row mb-1 ms-0 me-0">
              <div class="col-12 p-1 mb-3 pt-3">
                <div class="separator-light"></div>
              </div>
              <div class="col-6 pe-1 ps-1">
                <ul class="list-unstyled">
                  <li>
                    <a href="{{path('app_logout')}}">
                      <i data-acorn-icon="logout" class="me-2" data-acorn-size="17"></i>
                      <span class="align-middle">Logout</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- User Menu End -->

        <!-- Icons Menu Start -->


        <!-- Icons Menu End -->

        <!-- Menu Start -->
        <div class="menu-container flex-grow-1">
          <ul class="list-unstyled list-inline text-center menu-icons flex-grow-1 menu" id="menu">

            {% if app.user %}
            <li>
              <a href="{{ path('home_add') }}">
                <i data-acorn-icon="plus" class="icon" data-acorn-size="18"></i>
                <span class="label" style="font-size:13px">Tricks</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_logout') }}">
                <i data-acorn-icon="logout" class="icon" data-acorn-size="18"></i>
                <span class="label" style="font-size:13px">Se Déconnecter</span>
              </a>
            </li>

            {% else %}

            <li>
              <a href="{{ path('app_login') }}">
                <i data-acorn-icon="login" class="icon" data-acorn-size="18"></i>
                <span class="label" style="font-size:13px">Se Connecter</span>
              </a>
            </li>
            <li>
              <a href="{{ path('app_register') }}">
                <i data-acorn-icon="user" class="icon" data-acorn-size="18"></i>
                <span class="label" style="font-size:13px">S'Inscrire</span>
              </a>
            </li>
            {% endif %}

          </ul>
        </div>
        <!-- Menu End -->

        <!-- Mobile Buttons Start -->
        <div class="mobile-buttons-container">
          <!-- Scrollspy Mobile Button Start -->
          <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown" onclick="toggleLogoWidth()">
            <i data-acorn-icon="menu-dropdown"></i>
          </a>
          <!-- Scrollspy Mobile Button End -->

          <!-- Scrollspy Mobile Dropdown Start -->
          <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
          <!-- Scrollspy Mobile Dropdown End -->

          <!-- Menu Button Start -->
          <a href="#" id="mobileMenuButton" class="menu-button">
            <i data-acorn-icon="menu"></i>
          </a>
          <!-- Menu Button End -->
        </div>
        <!-- Mobile Buttons End -->
      </div>
      <div class="nav-shadow"></div>
    </div>

{% block script %}
<script>
 function toggleLogoWidth() {
    var logo = document.querySelector('.logo img');
    logo.classList.toggle('logo-full-width');
  }
</script>


{% endblock %}
