{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<body class="h-100">
  <form method="post">
    {% if app.flashes('error') %}
        <div class="alert alert-danger">
            {% for message in app.flashes('error') %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
      Vous êtes connecté.e {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}

    <div id="root" class="h-100">
      <!-- Background Start -->
      <div class="fixed-background"></div>
      <!-- Background End -->

      <div class="container-fluid p-0 h-100 position-relative">
        <div class="row g-0 h-100">
          <!-- Left Side Start -->
          <div class="offset-0 col-12 d-none d-lg-flex offset-md-1 col-lg h-lg-100">

          </div>
          <!-- Left Side End -->

          <!-- Right Side Start -->
          <div class="col-12 col-lg-auto h-100 pb-4 px-4 pt-0 p-lg-0">
            <div class="sw-lg-70 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5 full-page-content-right-border" style="padding-bottom: 165px !important;">
              <div class="sw-lg-50 px-5">
                <div class="sh-11">
                  <a href="{{path('home')}}">
                    <div class="logo-default"></div>
                  </a>
                </div>
                <div class="mb-5">
                  <h2 class="cta-1 mb-0 text-primary">Bienvenue,</h2>
                  <h2 class="cta-1 text-primary">Se connecter !</h2>
                </div>
                <div class="mb-5">
                  <p class="h6">Utilisez vous identifiant pour vous connecté.</p>
                  <p class="h6">
                    Si vous n'avez pas de compte
                    <a href="{{path('app_register')}}">inscrivez-vous</a>
                    .
                  </p>
                </div>
                <div>
                  <form id="loginForm" class="tooltip-end-bottom" novalidate>
                    <div class="mb-3 filled form-group tooltip-end-top">
                      <i data-acorn-icon="user"></i>
                      <input  type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="pseudo" required autofocus />
                    </div>
                    <div class="mb-3 filled form-group tooltip-end-top">
                      <i data-acorn-icon="lock-off"></i>
                      <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required />
                      <a class="text-small position-absolute t-3 e-3" href="Pages.Authentication.ForgotPassword.html">Forgot?</a>
                    </div>
                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                    >
                    <button type="submit" class="btn btn-lg btn-primary">Login</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Side End -->
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
